<html>
<head>
    <title>Hello</title>
</head>
<body>
    <h1>Hello me. It did not work the first time and it made me angry.</h1>

    <p>This is a class from {{classCode}} {{className}}.</p>
    <p>Made by {{name}}</p>
<a href = "/about">Go here</a>
</body>
</html>